*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.number {
  font-size: 250px;
  font-weight: bold;
  text-align: center;
  color: #eee;
  margin-bottom: 1rem;

  grid-area: number;
}

button {
  font-weight: bold;
  font-size: 35px;
  padding: 1em;
  border-radius: 10px;
  margin: 1em;
  cursor: pointer;
  text-transform: uppercase;
}

.increase {
  background-color: #87f087;
}

.increase:hover {
  background-color: #b9ffb9;
}

.decrease {
  background-color: #c77070;
}

.decrease:hover {
  background-color: #ffb9b9;
}

.increase,
.decrease {
  border-radius: 1em 8em;
  width: 100px;
  height: 100px;
  place-self: center;

  display: grid;
  place-content: center;
}

.reset {
  background-color: rgb(240, 240, 135);
  grid-area: reset;

  width: fit-content;
}

.reset:hover {
  background-color: rgb(255, 255, 185);
}

body {
  display: flex;
  place-content: center;
  height: 100vh;

  background-color: #111;

  padding: 2rem;
}

.counter {
  display: grid;
  grid-gap: 1rem;

  justify-items: center;

  grid-template-areas:
    "increase"
    "number"
    "decrease"
    "reset";
}

/* Media query */
@media screen and (max-width: 768px) {
  .number {
    font-size: 200px;
  }

  /* remove the blue outline */
}
