:root {
  --btn-background-saturation: 75%;
  --btn-background-hover-saturation: 90%;

  --btn-background-lightness: 75%;
  --btn-background-hover-lightness: 90%;

  --btn-increase-hue: 120;
  --btn-decrease-hue: 0;
  --btn-min-hue: 15;
  --btn-max-hue: 135;

  --btn-reset-hue: 160;
  --btn-saved-hue: 200;
  --btn-clear-hue: 240;
}

@font-face {
  font-family: vazir;
  src: url(./font/Vazir-Bold-FD.ttf);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  user-select: none;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;
  margin-bottom: 2rem;
  color: #eee;
}

.last-subject {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 1rem;

  color: #222;
}

.last-subject-span,
.number-span {
  color: hsl(150, 39%, 61%);
}

.form * {
  font: inherit;
}

.number {
  font-size: 100px;
  font-weight: bold;
  text-align: center;
  color: #eee;

  grid-area: number;
}

.number.starting {
  color: hsl(
    60,
    var(--btn-background-saturation),
    var(--btn-background-lightness)
  );
}
.number.max {
  color: hsl(
    120,
    var(--btn-background-saturation),
    var(--btn-background-lightness)
  );
}
.number.min {
  color: hsl(
    0,
    var(--btn-background-saturation),
    var(--btn-background-lightness)
  );
}
.number.saved {
  color: hsl(
    200,
    var(--btn-background-saturation),
    var(--btn-background-lightness)
  );
}
button {
  border: none;
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
}

button:is(button, :hover, :focus) {
  transition: background-color 200ms ease-out;
}

.increase {
  background-color: hsl(
    var(--btn-increase-hue),
    var(--btn-background-saturation),
    var(--btn-background-lightness)
  );
  color: hsl(120, var(--btn-background-saturation), 18%);
  grid-area: increase;
}

.decrease {
  background-color: hsl(
    var(--btn-decrease-hue),
    var(--btn-background-saturation),
    var(--btn-background-lightness)
  );
  color: hsl(0, var(--btn-background-saturation), 18%);
  grid-area: decrease;
}

.increase:not(button[disabled]):hover {
  background-color: hsl(
    var(--btn-increase-hue),
    var(--btn-background-hover-saturation),
    var(--btn-background-hover-lightness)
  );
}
.decrease:not(button[disabled]):hover {
  background-color: hsl(
    var(--btn-decrease-hue),
    var(--btn-background-hover-saturation),
    var(--btn-background-hover-lightness)
  );
}

.reset:not(button[disabled]):hover {
  background-color: hsl(
    var(--btn-reset-hue),
    var(--btn-background-hover-saturation),
    var(--btn-background-hover-lightness)
  );
  opacity: 1;
}

button.saved:not(button[disabled]):hover {
  background-color: hsl(
    var(--btn-saved-hue),
    var(--btn-background-hover-saturation),
    var(--btn-background-hover-lightness)
  );
  opacity: 1;
}

.clear:not(button[disabled]):hover {
  background-color: hsl(
    var(--btn-clear-hue),
    var(--btn-background-hover-saturation),
    var(--btn-background-hover-lightness)
  );
  opacity: 1;
}
button.max:not(button[disabled]):hover {
  background-color: hsl(
    var(--btn-max-hue),
    var(--btn-background-hover-saturation),
    var(--btn-background-hover-lightness)
  );
  opacity: 1;
}
button.min:not(button[disabled]):hover {
  background-color: hsl(
    var(--btn-min-hue),
    var(--btn-background-hover-saturation),
    var(--btn-background-hover-lightness)
  );
  opacity: 1;
}

.increase,
.decrease {
  font-size: 50px;

  border-radius: 50%;

  width: 100%;
  height: 100%;
  place-self: center;
}

button.deactive {
  opacity: 0.2;
  cursor: not-allowed;
}

button:is(.reset, .min, .max, .clear, .saved) {
  font-size: 16px;
  padding: 0.25em 1em;
  border-radius: 0.75em;
  opacity: 0.7;
}
.reset {
  background-color: hsl(
    60,
    var(--btn-background-saturation),
    var(--btn-background-lightness)
  );

  grid-area: reset;
}
button.min {
  background-color: hsl(
    var(--btn-min-hue),
    var(--btn-background-saturation),
    var(--btn-background-lightness)
  );
  grid-area: min;
}
button.max {
  background-color: hsl(
    var(--btn-max-hue),
    var(--btn-background-saturation),
    var(--btn-background-lightness)
  );
  grid-area: max;
}

.clear {
  background-color: hsl(
    var(--btn-clear-hue),
    var(--btn-background-saturation),
    var(--btn-background-lightness)
  );
  grid-area: clear;
}

button.saved {
  grid-area: saved;
  background-color: hsl(
    var(--btn-saved-hue),
    var(--btn-background-saturation),
    var(--btn-background-lightness)
  );
}

body {
  display: grid;
  place-content: center;

  height: 100vh;

  background-color: hsl(150, 20%, 35%);
}

.counter {
  display: grid;

  grid-template-columns: 1fr 100px 300px 100px 1fr;
  grid-template-rows: 1fr 1fr 100px 1fr 1fr;
  grid-template-areas:
    ". . . . ."
    ". . number . ."
    ". decrease number increase ."
    ". min . max ."
    ". . reset . ."
    ". . saved . ."
    ". . clear . .";

  gap: 1rem 0.5rem;

  background-color: hsl(150, 20%, 20%);
  border-radius: 10px;

  padding: 5em;
  place-items: center;
  box-shadow: hsl(100, 20%, 10%, 0.25) 0px 30px 60px -12px inset,
    rgb(0, 0, 0, 0.3) 0px 18px 36px -18px inset;

  aspect-ratio: 1.618/1;
}

/* ===== styling Form ===== */

label {
  place-self: center;
  padding-right: 1rem;
}

.form {
  padding-top: 3rem;
  font-size: 1.5rem;
  display: grid;
  grid-template-columns: auto 3fr auto;
  grid-template-areas: "label last submit";

  align-content: center;
}

.submit {
  grid-area: submit;
  background-color: #87c8f0;
  padding: 0 1rem;
  border-radius: 0 10px 10px 0;
  text-transform: none;
}

.submit:hover {
  background-color: #b9e0ff;
}

.last-subject-input {
  grid-area: last;
  padding: 1rem;
  font-size: 1.5rem;
}

.last-subject-input:focus {
  background-color: #cae0ed;
}
/* Media query */
@media screen and (max-width: 768px) {
  /* remove the blue outline */
}
